@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700&display=swap');

body{
    font-family: 'Assistant', sans-serif !important;
    font-size: 15px;
    line-height: 2em;    /*relative to current font size*/
    color: #333;
    font-weight: 400;
    background: #FFFF;
}
.header{
    padding: 0;
    margin: 0;
    height: 100vh;      /*view-height*/
    vertical-align: middle;
    position: relative;
}
.header .profile-image{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;        /*The text will come front*/
    background-image: url(../Asset/img/web.jpg);
    background-size: cover;
    background-position: center ;
}

.header .profile-image:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(-30deg,rgba(230, 12, 12, 0.5)0%, rgba(230, 12, 12, 0.5)20%, transparent 80%, transparent 100%);
}

.header .content{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10%;
    margin: 0 auto;
}

.header .content h1{
    font-size: 36px;
    color: #FFF;
    line-height: 1;
    margin: 0;
}
.header .content p{
    font-size: 20px;
    color: #fff;
}

.header .content .social{
    padding: 0;
    margin: 0;
    display: block;
}

.columns-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left-col-block{
    width: 50%;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0%;
}
.right-col-block{
    width: 50%;
    position: absolute;
    right: 0%;
}

.header .content .social li {
    display: inline-block;
    margin: 0 2px ;
}

.header .content .social li a{
    display: block;
    font-size: 15px;
    color: #fff;
    height: 35px;
    width: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #555;
}
.header .content .social li a:hover{
    border: white;
}

.section-wrapper{
    padding: 50px;
}

.section-title{
    margin-bottom: 15px;
}

.section-title h2{
    color: #444;
}

.grey-bg{
    background: #F9F9F9;
}

.expertise-item{
    margin-bottom: 20px;
}

.expertise-item h3{
    margin-bottom: 20px;
    color: #333;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6{
    margin: 0 0 15px;
}

/* h1{
    font-size: 25px !important;
} */

h2{
    font-size: 20px !important;
    line-height: 1.8em !important;
    font-weight: 700 !important;
}

h3{
    font-size: 18px !important;
    line-height: 1.8em !important;
    font-weight: 500 !important;
}

h4{
    font-size: 16px !important;
    line-height: 1.8em !important;
    font-weight: 500 !important;
}

h5{
    font-size: 18px !important;
    line-height: 1.8em !important;
    font-weight: 500 !important;
}

a{
    color: #0e0e11 !important;
    text-decoration: none !important;
}

a:hover{
    color: #FFFF !important;
    text-decoration: none !important;
}

p{
    margin-bottom: 20px !important;
}

ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
}

.btn{  /*to create button*/
    padding: 15px !important;
    font-size: 15px !important;
    font-weight: bold !important;
    border-radius: 0 !important;
    border: 0 !important;
    text-transform: uppercase !important;   
    color: #fff in !important;
}

.btn-primary{ /*to create button*/
    background: #1c1ee6 in !important;
    color: #fff;
}

@media(max-width: 600px) {
    .left-col-block{
        width: 100%;
        position: relative;
    }
    .right-col-block{
        width: 100%;
        position: relative;
    }
}